/* css for subscribe section in index page starts */
.subscribe-section {
	background-color: $primary;
	text-align: center;
	color: #fff;
}
.subscribe-section input {
	height: 50px;
}
.subscribe-section input:focus {
	box-shadow: none !important;
	border-color: #ced4da !important;
}
.subscribe-section span {
	font-size: 13px;
}
@media only screen and (max-width: 576px) {
	.subscribe-section input {
		height: 38px;
	}
}
/* css for subscribe section in index page ends */

.footer {
	background-color: $dark;
	color: #c0c0c0;
}
.footer .border-b-line {
	width: 25px;
	height: 2px;
	background-color: $primary;
	border-radius: 20%;
}


.footer .address {
	display: grid;
}
.footer .address span,
// .footer p {
// 	font-size: 14px;
// 	color: #9a9a9a;
// }
.footer ul {
	padding-left: 0px;
}
.footer ul li {
	cursor: pointer;
	// color: #9a9a9a;
	list-style-type: none;
	padding-bottom: 6px;
	&:hover a{
		color: $primary;
	}

}

.footer ul li:hover {
	color: $primary;
}
.footer ul li a {
	font-size: 16px;
	color: #C0C0C0;
	text-decoration: none;
}