<div class="subscribe-section w-100 py-4 py-md-5 row m-0 d-flex flex-column align-items-center justify-content-center">
    <div class="col-lg-6 col-md-9 col-sm-10">
        <h3 class="mb-1">Stay in the Know</h3>
        <p>Sign up for emails to be the first to see new arrivals, hear about special sales and more.</p>
        <form class="d-flex flex-row mb-3">
            <input type="email" class="form-control rounded-0 w-100" placeholder="Enter your email address">
            <button type="button" class="btn btn-secondary ml-1 ml-md-3 px-md-5 rounded-0">Subscribe</button>
        </form>
        <span class="d-inline-block">Signing up means you will receive our newsletter with interiors inspiration,
            offers, promotions and more.</span>
        <span class="d-inline-block">can opt out at any time please see our privacy policy for more
            information.</span>
    </div>
</div>

<div class="footer p-3">
    <div class="px-sm-3 px-md-5">
        <div class="row m-0 my-3">

            <div class="col-lg-3 col-sm-6 my-3">
                <h5 class="mb-2">SOCIAL</h5>
                <div class="border-b-line mb-3"></div>
                <ul>
                    {% if settings.facebook %}
                    <li class="mb-1">
                        <a href="{{settings.facebook}}">Facebook</a>
                    </li>
                    {% endif %}

                    {% if settings.twitter %}
                    <li class="mb-1">
                        <a href="{{settings.twitter}}">Twitter</a>
                    </li>
                    {% endif %}

                    {% if settings.instagram %}
                    <li class="mb-1">
                        <a href="{{settings.instagram}}">Instagram</a>
                    </li>
                    {% endif %}

                    {% if settings.youtube %}
                    <li class="mb-1">
                        <a href="{{settings.youtube}}">Youtube</a>
                    </li>
                    {% endif %}
                </ul>

            </div>

            <div class="col-lg-3 col-sm-6 my-3">
                <h5 class="mb-2">QUICK LINKS</h5>
                <div class="border-b-line mb-3"></div>
                <ul>
                    <li class="mb-1">
                        <a href="#">About Us</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Careers</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Projects</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Journal-Our Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 my-3">
                <h5 class="mb-2">LEGAL</h5>
                <div class="border-b-line mb-3"></div>
                <ul>
                    <li class="mb-1">
                        <a href="#">Terms</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Shipping</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Return</a>
                    </li>
                    <li class="mb-1">
                        <a href="#">Security</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3 col-sm-6 my-3">
                <h5 class="mb-2">STORE LOCATION</h5>
                <div class="border-b-line mb-3"></div>
                <ul>
                    <li>
                        {{settings.store_address}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center text-white">
        <span>Powered by shopnex</p>
            <span>©2019 All rights Reserved</span>
    </div>
</div>