{% extends 'base.html' %}
{% block meta %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <p class="text-center">Forgotten your password? Enter your email address below, and we'll email instructions for
        setting a new one.</p>

    <form method="post" class="col-md-4 mx-auto">
        {% csrf_token %}

        <div class="form-group">
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control"
                placeholder="Email address">
        </div>

        <input type="submit" value="Reset my password" class="btn btn-primary btn-block">
    </form>
</div>
<div class="d-flex justify-content-center my-4">
    <a href="/">Continue Shopping</a>
</div>
{% endblock %}