<div class="col-lg-5 px-2 px-md-3 pt-0 pt-md-3 pt-lg-0">

    <h1 class="mb-0 product_name text-dark">{{product.name}}</h1>

    {% if not product.is_in_stock %}
    <div class="alert alert-warning mt-4">This product is currentely <strong>unavailable</strong>.</div>
    {% else %}

    {% comment %} <p class="mb-2 sku">SUJP0349</p> {% endcomment %}

    {% if show_variant_picker %}
    <!-- {% comment %}Div which will update by js{% endcomment %} -->
    <span class="py-2 py-md-3 product_price text-dark" id="variant-price-component"></span>
    {% else %}
    <span class="py-2 py-md-3 product_price text-dark">₹ {{ product.get_price }}</span>
    {% endif %}

    {% if product.color %}
    <p class="clr-name mt-4 mb-1">COLOR : {{product.color.name}}</p>
    <div class="color-icon current" style="background-image: url({{ product.color.icon.image.crop_icon.150x150 }});">
    </div>
    {% endif %}

    <!-- Variant Pickers -->
    {% if show_variant_picker %}
    <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action=""></div>
    {% else %}
    {% comment %}
    <!-- has_variant=false nothing to do. -->{% endcomment %}
    {% endif %}

    <!-- Add to Cart form -->
    <form action="{% url 'cart:cart_add' %}" method="POST" id="cart-form">
        {% csrf_token %}
        {{ add_to_cart_form.variant }}
        <button type="submit" class="btn btn-block btn-dark my-3" id="product-addtocart-button">
            <i class="fa fa-cart-plus"></i> Add to cart</button>
    </form>

    {% endif %}
    {% comment %} <div class="py-3">
        <p class="mt-2 mb-1">Share this:</p>
        <div class="d-flex share-icons">
            <div class="d-flex align-items-center justify-content-center p-1 rounded-circle mr-3 icon fb">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center p-1 rounded-circle mr-3 icon twitter">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center p-1 rounded-circle mr-3 icon gplus">
                <i class="fa fa-google-plus"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center p-1 rounded-circle mr-3 icon pinterest">
                <i class="fa fa-pinterest"></i>
            </div>
        </div>
    </div> {% endcomment %}
    <p class="my-3">{{product.description}}</p>

    {% if product_attributes.items %}
    <div class="py-3">
        <h4 class="mb-3 info">Additional Information</h4>
        {% for attribute, value in product_attributes.items %}
        <div class="d-flex flex-row w-100">
            <p class="w-50">{{ attribute }}</p>
            <p class="w-50 pl-5">{{value}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>