{% extends 'base.html' %}
{% block meta %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- display error -->
    {% if form.errors %}
    {% include 'accounts/auth/_form_errors.html' %}
    {% endif %}

    <form method="post" class="col-lg-4 mx-auto">
        {% csrf_token %}
        {% for key,field in form.fields.items %}
        <div class="form-group">
            <input type="{{field.widget.input_type}}" class="form-control {% if forloop.first %}mb-4{% endif %}"
                name="{{key}}" id="id_{{key}}" {% if field.required %}required{% endif %} placeholder="{{field.label}}">
        </div>
        {% endfor %}

        <input type="submit" value="Change my password" class="btn btn-block btn-primary">

    </form>


    <div class="d-flex justify-content-center my-4">
        <a href="/">Continue Shopping</a>
    </div>
</div>
{% endblock %}


{% comment %}
<h1>{{ title }}</h1>



<form method="post">{% csrf_token %}
    <div>
        {% if form.errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
            below.{% endif %}
        </p>
        {% endif %}


        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify
            you typed it in correctly.</p>

        <fieldset class="module aligned wide">

            <div class="form-row">
                {{ form.old_password.errors }}
                {{ form.old_password.label_tag }} {{ form.old_password }}
            </div>

            <div class="form-row">
                {{ form.new_password1.errors }}
                {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>

            <div class="form-row">
                {{ form.new_password2.errors }}
                {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Change my password" class="default">
        </div>

    </div>
</form>
</div>
{% endcomment %}