{% extends 'base.html' %}
{% block meta %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<div class="container my-5 text-center">
    {% if validlink %}
    <!-- display error -->
    {% if form.errors %}
    {% include 'accounts/auth/_form_errors.html' %}
    {% endif %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form method="post" class="col-md-4 mx-auto">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control"
                placeholder="New password">
        </div>
        <div class="form-group">
            <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control"
                placeholder="Confirm password">
        </div>
        <input type="submit" value="Change my password" class="btn btn-block btn-primary">
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.
    </p>
    {% endif %}
    <div class="d-flex justify-content-center my-4">
        <a href="/">Continue Shopping</a>
    </div>
</div>
{% endblock %}