{% load static %}
<div>
    <div id="element{{Carousel.id}}" class="carousel slide" data-ride="carousel">
        {% if  Carousel.images.count != 1 %}
        <div class="d-block d-lg-none">
            <ol class="carousel-indicators">
                {% for image in Carousel.images.all %}
                <li data-target="#element{{Carousel.id}}" data-slide-to="{{forloop.counter0}}"
                    class="{%if forloop.first%}active{% endif %}"></li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}

        <div class="carousel-inner">
            {% for img in Carousel.images.all %}
            <div class="carousel-item {%if forloop.first%}active{% endif %}">
                <img src="{{img.image.url}}" class="d-block w-100" alt="{{img.caption}}">

                <div class="carousel-caption">
                    {% if img.caption %}
                    <h5>{{img.caption}}</h5>
                    {% endif %}
                    {% for btn in img.buttons.all %}
                    <a href="{{btn.get_url}}" class="btn btn-primary  btn-md m-2">{{btn.title}}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <div class="d-none d-lg-block">
                <a class="carousel-control-prev" href="#element{{Carousel.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#element{{Carousel.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>