{% load load_product %}

<div class="swiper mb-5">
    <h1 class="section-title ptrn-header">{{Swiper.title}}</h1>
    <div class="swiper-content position-relative px-md-5">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% load_product parent_div_class='swiper-slide product-item mb-1' queryset=Swiper.get_products %}
            </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="d-none d-md-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="row m-0 mt-3">
        <a href="{{Swiper.linked_object.get_absolute_url}}" class="btn btn-primary mx-auto">View more</a>
    </div>
</div>