{% load static %}
{% load getDefaultThumb %}


{% for product in queryset %}
<div {{div_attrs}}>
   <div class="product-item">
      <a href="{{ product.get_absolute_url }}">
         <img src="{% getDefaultThumb product.images.first 'm' %}" class="w-100" alt="{{product.name}}" />
      </a>
      <div class="details">
         <a href="{{product.get_absolute_url}}" class="text-dark d-inline-block text-truncate" style="max-width: 100%;">{{product.name}}</a>
         <p class="m-0">₹ {{product.price}}</p>
      </div>
   </div>
</div>
{% endfor %}

{% comment %}For displaying single product itme{% endcomment %}
{% if product %}
<div {{div_attrs}}>
   <div class="product-item">
      <a href="{{ product.get_absolute_url }}">
         <img src="{% getDefaultThumb product.images.first 'm' %}" class="w-100" alt="{{product.name}}" />
      </a>
      <div class="details">
         <a href="{{product.get_absolute_url}}" class="text-dark d-inline-block text-truncate" style="max-width: 100%;">{{product.name}}</a>
         <p class="m-0">₹ {{product.price}} hi</p>
      </div>
   </div>
</div>
{% endif %}