{% extends '../base.html' %}
{% load get_meta_tags %}
{% load load_product %}


{% block meta %}
{% get_meta_tags obj=category %}
{% endblock %}

{% block content %}

{% if obj.background_image %}
<img src="{{obj.background_image.url}}" class="w-100" />
{% endif %}



<!-- PRODUCTS -->
{% if products %}
<div class="w-100 my-3">
   <div class="row m-0">
      {% load_product queryset=products div_attrs='class="col-lg-3 col-md-4 col-6 my-1 my-md-2 p-1 p-md-2"' %}
   </div>
</div>
{% endif %}




<!-- PAGINATION -->
{% include 'products/pagination.html' %}

{% endblock %}